.container {
    padding: 0px 20px;
    height: auto;
    justify-content: center;
    align-items: center;
    color:white;
    margin: 200px 0px;
  }
  
  .card_wrapper{
    flex-direction: row;
    justify-content: space-evenly;
    position: relative;
    display: flex;
      align-items: center;
      flex-wrap: wrap;
    height: auto;
    margin: 40px;
  }
  
  .hr{
    margin:10px;
  }
  
  .card_wrapper .card{
    align-items: center;
    justify-content: space-evenly;
    position: relative;
  
  }
  
  .wrapper img{
    border-radius: 4px;
    justify-content: center;
    align-items: center;
  }
  
  .cardFront{
    background:rgba(255, 255, 255, 0.861);
    color: black;
    text-align: center;
    padding: 20px;
    font-size: 16px;
    border: 3px solid rgb(43, 93, 17);
    
  }
  
  .cardBack{
    background:rgba(28, 28, 28, 0.861);
    color: rgba(232, 228, 228, 0.633);
    padding: 20px;
    text-indent: 14px;
    font-size: 16px;
    line-height: 2;
    border: 3px solid white;
  }
  
  @media screen and (max-width: 1400px) {
  .Projects{
    display: flex; 
    flex-direction:row;
  }
  .project_card{
    display: grid; 
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }
  }
  @media screen and (max-width: 480px) {
    .circle {
      display: none;
    }
    .project_card{
      display: grid; 
      grid-template-columns: repeat(2, minmax(0, 1fr));
    }
    .Projects{
      grid-template-columns: repeat(1, minmax(0, 3fr));
    }
  }
  
  .card{
    width: 400px;
    height: 300px;
    background-color: black;
    color :#fff;
    box-sizing: border-box;
    padding: 40px;
    border-radius: 2px;
    font-family: 'Roboto, sans-serif';
    margin: 100px 0;
  
  }
  
  .wrapper{
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .imageWrapper{
    position: relative;
    display: flex;
    justify-content: space-around;
  }
  
  .wrapper .image{
    border-radius: 10px;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
  }
  
  .title {
    font-size: 30px;
    border-bottom: 4px solid green;
    text-align: center;
    padding: 0px 100px;
    color: white;
  }
  
  .image{
    justify-content: center;
    align-items: center;
    position: relative;
   
    
    
  }
  
  .text{
    font-size: 20px;
    letter-spacing: .5px;
    font-weight: 400;
    text-indent: 40px;
    line-height: 3;
    padding: 10px;
  }
  
  .services {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  
  .service {
    width: 500px;
    height: 500px;
    background-color: whitesmoke;
    padding: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    margin-bottom: 50px;
    cursor: pointer;
    border-radius: 40px 60px;
    background: #ffffff59;
  }
  
  .catInfo {
    width: 100%;
    text-align: center;
    position: absolute;
    background-color: rgb(233 233 233);
    padding: 20px;
    border-radius: 10px;
    z-index: 999;
    opacity: 0;
    transition: all 1s ease;
    text-align: center;
    
  }
  
  .cat {
    position: absolute;
    margin-bottom: 30px;
    top: 10px;
    z-index: 999;
    text-transform: uppercase;
    color: rgb(15, 15, 15);
    letter-spacing: 5px;
    font-weight: 600;
    text-align: center;
  }
  
  .media {
    width: 75%;
    height: 75%;
    background-color: yellow;
    border-radius: 30% 70%;
    overflow: hidden;
    transition: all 1s ease;
  }
  
  .service:hover .media {
    transform: scale(1.1);
  }
  
  .service:hover .cat {
    font-weight: bold;
  }
  
  .service:hover .catInfo {
    opacity: 1;
  }
  
  .video {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
  .subtitle{
    background: #ffffffd1;
    line-height: 3;
    border: 2px solid green;
    text-align: center;
    letter-spacing: 4px;
    font-size: 34px;
    border-radius: 10px;
    color: rgba(0, 0, 0, 0.781);
    margin: 7vh 0px;
  }
  
  @media screen and (max-width: 1000px){
  }
  
  
  
  @media screen and (max-width: 480px) {
    .container {
      padding: 20px;
    }
  
    .image{
      justify-content: center;
      align-items: center;
      position: relative;
      width: 100;
      height: 100;
    }
  
    .services {
      justify-content: center;
    }
  
    .service {
      width: 300px;
      height: 300px;
    }
  
    .card_wrapper{
      grid-template-columns: repeat(1, minmax(0, 1fr));
    }
  }
  