.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list li {
  margin-bottom: 2rem;
}

.title {
  font-size: 1.25rem;
}

.tags {
  font-size: 0.75rem;
}
.tags a:after {
  content: " . ";
}
.tags a:last-child:after {
  content: "";
}

.container {
  max-width: 800px;
  padding: 1rem;
  margin-top: 190px 0;
  min-height: calc(100vh - 190px);
}
