.container {
  display: flex;
  margin-top: 10vh;
  padding: 120px 50px;
  height: 100vh;
  color: whitesmoke;
}

.cardL {
  flex: 2;
  display: flex;
  flex-wrap: wrap;
}

.cardS {
  flex: 1;
}

.imgContainer {
  width: 30%;
  margin: 5px;
  position: relative;
}


.title {
  font-size: 45px;
}

.button {
  padding: 15px;
  border: none;
  background: white;
  color: black;
  border: 3px solid rgb(24, 71, 24);
  font-size: 20px;
  border-radius: 10px;
  margin-top: 50px;
  cursor: pointer;
}

.button:hover{
  background: black;
  color: white;
}

@media screen and (max-width: 480px) {
  .container {
    flex-direction: column-reverse;
    padding: 20px;
  }

  .title {
    font-size: 50px;
  }

  .imgContainer {
    width: 300px;
    height: 300px;
  }

  .cardS {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .button {
    margin: 20px 0px;
  }

  .imgContainer {
    border-radius: 50%;
    overflow: hidden;
  }

  .cardL::before{
    content: "Projects";
    font-size: 50px;
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
  }
}
