.container {
  padding: 0px 20px;
  justify-content: center;
  align-items: center;
  color:white;
  height: auto;
}

.title {
  font-size: 30px;
  border-bottom: 4px solid rgb(14, 14, 14);
  text-align: center;
  padding: 0px 100px;
  color: rgba(255, 255, 255, 0.785);
}


.desc{
  font-weight:200;
}

.hr{
  color: black;
}

.subtitle{
  background: #ffffffd1;
  line-height: 1.3;
  padding: 10px;
  border: 2px solid green;
  text-align: center;
  letter-spacing: 4px;
  font-size: 34px;
  border-radius: 10px;
  color: rgb(22, 75, 35);
}


.text{
  font-size: 20px;
  letter-spacing: .5px;
  font-weight: 400;
  text-indent: 40px;
  line-height: 3;
  background-color: rgba(0, 0, 0, 0.69);
  border-radius: 13px;
  padding: 10px;
}

.services {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 100px 0;
}

.service {
  width: 350px;
  height: 400px;
  background-color: whitesmoke;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  margin-bottom: 50px;
  cursor: pointer;
  border-radius: 40px 60px;
  background: #ffffff59;
  border: 3px solid rgba(42, 41, 41, 0.625);
  
}

.catInfo {
  width: 100%;
  text-align: center;
  position: absolute;
  background-color: rgb(233 233 233);
  padding: 20px;
  border-radius: 10px;
  z-index: 999;
  opacity: 0;
  transition: all 1s ease;
  text-align: center;
  color: rgb(10, 74, 28);
  font-weight:200;
}

.catInfo h3{
  font-weight:400;
}

.cat {
  position: absolute;
  margin-bottom: 30px;
  top: 38px;
  z-index: 999;
  text-transform: uppercase;
  color: rgba(15, 15, 15, 0.746);
  letter-spacing: 5px;
  font-weight: 700;
  text-align: center;
}

.media {
  width: 40%;
  height: 40%;
  background-color: rgb(16, 16, 16);
  border-radius: 10% 32%;
  overflow: hidden;
  transition: all 1s ease;
}

.service:hover .media {
  transform: scale(1.1);
}

.service:hover .cat {

}

.service:hover .catInfo {
  opacity: 1;
}

.video {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@media screen and (max-width: 480px) {
  .container {
    padding: 20px;
  }

  .services {
    justify-content: center;
  }

  .service {
    width: 300px;
    height: 300px;
  }
}
